* {
    padding: 0;
    margin: 0;
}

footer {
    font-family:'Times New Roman', Times, sans-serif;
    display: flex;
    width: 100%;
    height: 240px;
    background-color: #fff;
    color: #000000;
}

.container1, .container2, .container3 {
    margin-left: 90px;
    margin-top: 20px;
    display: inline-block;
    height: 190px;
    width: 250px;
}


h1 {
    font-size: 23px;
    padding-bottom: 4px;
}

p {
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
}

.container2 p {
    font-size: 14px;
}
hr {
    padding-bottom: 10px;
    border: 0;
    border-top: 3px solid #002f5c;
    width: 60px;    
}

.copyright {
    display: block;
    height: 30px;
    width: 100%;
    background-color: #002f5c;
    color: #fff;
}

.copyright p {
    display: flex;
    text-align: center;
    padding: 4px 0;
    justify-content: center;
}

input {
    font-size: 11px;
    line-height: 22px;
    width: 200px;
    height: 20px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

label {
    font-size: 13px;
    display: block;
    margin: 2px;
}
textarea {
    
    resize: none;
    height: 60px;
    width: 200px;
    font-size: 11px;
}

span {
    padding-left: 2px;
    padding-right: 2px;
    color: #f3d500;
}

button {
    display: flex;
    font-size: 12px;
    height: 30px;
    width: 200px;
    padding: 5px 20px 0 80px;
    
    background-color: #002f5c;
    color: #f3d500;
}